@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Trang chủ</h1>

<hr />

<div class="row">

    <div class="col-sm">
        <p class="lead font-weight-bold align-content-center">
            <i class="fas fa-user"></i> My Todoes
        </p>

        @foreach (var item in Model.PrivateTodoes)
        {
            <partial name="_Todo" model="item" />
        }
    </div>

    <div class="col-sm">
        <p class="lead font-weight-bold align-content-center">
            <i class="fas fa-users"></i> Assigned Todoes
        </p>

        @foreach (var item in Model.AssignedTodoes)
        {
            <partial name="_Todo" model="item" />
        }
    </div>

    <div class="col-sm">
        <p class="lead font-weight-bold align-content-center">
            <i class="fas fa-globe-asia"></i> Public Todoes
        </p>

        @foreach (var item in Model.PublicTodoes)
        {
            <partial name="_Todo" model="item" />
        }
    </div>

</div>
