@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Trang chủ</h1>

<hr />

<div class="row">

    <div class="col-sm">
        <h4 class="font-weight-bold">
            <i class="fas fa-user"></i> Cá nhân
        </h4>

        @foreach (var item in Model.PrivateTodoes)
        {
            <partial name="_TodoPartial" model="item" />
        }
    </div>

    <div class="col-sm">
        <h4 class="font-weight-bold">
            <i class="fas fa-users"></i> Được giao
        </h4>

        @foreach (var item in Model.AssignedTodoes)
        {
            <partial name="_TodoPartial" model="item" />
        }
    </div>

    <div class="col-sm">
        <h4 class="font-weight-bold">
            <i class="fas fa-globe-asia"></i> Công khai
        </h4>

        @foreach (var item in Model.PublicTodoes)
        {
            <partial name="_TodoPartial" model="item" />
        }
    </div>

</div>
